<section class="card-blog-post">
    <a href="/blogpost/{{id}}">
        <header class="card-header">
            <div>{{title}}</div>
            <div>Posted by {{user.name}} on {{format_date createdDate}} at {{format_time createdDate}}</div>
        </header>
        <div>
            {{contents}}
        </div>
    </a>
</section> 
