<section class="card-blog-post">
    <a href="/post/{{id}}">
        <header class="card-header">
            <div>{{title}}</div>
            <div>Posted by {{name}} on {{createdDate}}</div>
        </header>
        <div>
            {{contents}}
        </div>
    </a>
</section>