<section class="card-blog-post">
    <header class="card-header">
        <div>{{blogPost.title}}</div>
        <div>Posted by {{blogPost.user.name}} on {{format_date blogPost.createdDate}} at {{format_time blogPost.createdDate}}</div>
    </header>
    <div>
        {{blogPost.contents}}
    </div>
</section>

<!-- For each comment, the comments partial is used to render the comment data -->

{{#each comments as |comment|}}
{{> comments}}
{{/each}}

<section class="card-blog-post" id="comment-form-box">
    <header class="card-header"></header>
    <form id="comment-form">
        <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment" rows="3" ></textarea>
        <button id="submitComment" type="submit">Submit</button>
    </form>
</section>



<script src="./js/displayComment.js"></script>